:root{
    --primary-text-color:#212121;
    --accent-color:#2196F3;
}

body {
background-color: #ffff;
color: #212121;
;
}
ul{
    list-style: none;

}
p{
    color:#757575;
    ;
}
/* logotype*/
.logo a {
    
    color: #212121;
}
.logo-web{
    color: #2196F3;
}
/* site navigation*/

.site-nav a {
    color: #212121;
}

.site-nav a.current{
    color:var(--accent-color) ;
}
.color-nav a{
    color:#2196F3;
    
}
/*button*/
.button-cap {
    background-color: #2196F3;
    color: #ffff;
}

/*basement*/
.basement{
   background-color: #2F303A;
   color: #ffff;
}
.basement-logo a{
    color: #ffff;
}
.basement-inf a {
   color: #FFFFFF99;
}


/*portfolio page*/
list-button{
    background-color: #F5F4FA;
    color:#212121;
}
