:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
p {
  color: #757575;
}
.top-line {
  background: #ffffff;
}

/* logotype*/
.logo a:hover,
.logo a:focus {
  color: #2196f3;
}
.logo a {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
  text-decoration: none;
}
.logo-web {
  color: #2196f3;
}
/* site navigation*/
.site-nav a:hover,
.site-nav a :focus {
  color: #2196f3;
}
.site-nav a {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a.current {
  color: var(--accent-color);
}
.color-nav a {
  color: #757575;
}
/*cap*/
.cap {
  background: #2f303a;
  color: #ffff;
}
.button-cap :hover,
.button-cap:focus {
  color: #2196f3;
}
.button-cap {
  background-color: #2196f3;
  color: #ffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/*features*/
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*our team*/
.team {
  background-color: #f5f4fa;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* button portfolio*/
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
/*portfolio page*/
.list-butt:hover,
.list-butt:focus {
  color: #2196f3;
}
.list-button {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}
/* portfolio project*/
.project {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

/*basement*/
.basement {
  background-color: #2f303a;
  color: #ffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.basement-logo a {
  color: #ffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.basement-inf a {
  color: #ffffff99;
  text-decoration: none;
}
